.reviewsStyle{
    background: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.7)),url("https://image.freepik.com/free-photo/old-vintage-car-parked-middle-freeway-road_181624-3286.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.collectionStyle{
    background: url("https://image.freepik.com/free-photo/old-vintage-car-parked-middle-freeway-road_181624-3286.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.manageProduct{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0,0.7)), url("https://image.freepik.com/free-photo/old-vintage-car-parked-middle-freeway-road_181624-3286.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.manageAllOrder{
    background: url("https://image.freepik.com/free-photo/old-vintage-car-parked-middle-freeway-road_181624-3286.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.myOrdersStyle{
    background: url("https://image.freepik.com/free-photo/old-vintage-car-parked-middle-freeway-road_181624-3286.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.addReview{
    background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)),
     url("https://image.freepik.com/free-photo/red-luxury-sedan-road_114579-5079.jpg") ; ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 5%;
    background-attachment: fixed;
}
.makeAdmin{
    background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)),
     url("https://image.freepik.com/free-photo/red-luxury-sedan-road_114579-5079.jpg") ; ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 5%;
    background-attachment: fixed;
}
.addProduct{
    background: linear-gradient(rgba(0, 0, 0,0.6), rgba(0, 0, 0,0.6)),
     url("https://image.freepik.com/free-photo/red-luxury-sedan-road_114579-5079.jpg") ; ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    display: 'flex';
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}